body{background-color:rgb(255, 255, 255);font:normal 1em/1.38 'Courier New Bold';color:rgb(0, 0, 0);}

.image{display:block;position:relative;float:left;width:24px;height:auto;margin-left:15%;overflow:hidden;}

.text{position:relative;float:left;width:13.4166666666%;min-height:18px;margin-left:0.5%;font-size:1em;color:rgb(0, 0, 0);}

.image-1{z-index:0;margin-top:269px;}

.image-2{clear:both;z-index:1;margin-top:8px;}

.text-1{z-index:2;margin-top:275px;text-transform:uppercase;}

.text-2{z-index:3;margin-top:8px;}