body{background-color:rgb(255, 255, 255);font:normal 1em/1.38 'Courier New Bold';color:rgb(0, 0, 0);}

.image{display:block;position:fixed;left:15%;width:24px;height:auto;overflow:hidden;}

.text{position:fixed;left:17.5%;width:13.4166666666%;min-height:18px;font-size:1em;color:rgb(0, 0, 0);}

.image-1{top:269px;}

.image-2{top:305px;z-index:1;}

.text-1{top:275px;z-index:2;text-transform:uppercase;}

.text-2{top:305px;z-index:3;}